/* recipe.css */
body {
	background-color: #CCCCCC;
}

fieldset {
	font-weight: bold;
}

a {
	text-align: center;
	padding: 3px;
	border-style: outset;
	border-width: 5px;
	border-color: blue;
}

.finish {
	text-align: center;
	color: red;
}

.recipeLink {
	
}

#heading {
	color: navy;
	background-color: white;
	text-align: center;
	padding: 5px;
	/*border-color: blue;
	border-width: .25em;
	border-style: solid;*/
}

#menu {
	background-color: #999999;
	float: left;
	width: 17%;
	text-align: center;
	padding: 15px;
	/*border-color: black;
	border-width: .25em;
	border-style: solid;*/
}

#main {
	background-color: #99DFFF;
	text-align: center;
	float: right;
	width: 80%;
	/*border-width: .25em;
	border-color: green;
	border-style: solid;*/
	
}

#footer {
	background-color: #006699;
	text-align: center;
	padding: 5px;
	clear: both;
	/*border-color: red;
	border-width: .25em;
	border-style: solid;*/
}
